.main-uprobazar-container{
    background-color: #11111b;
    overflow: hidden;
}

.uprobazar-container{
    padding: 40px;
    
}

.uprobazar-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.upro-bazar-model-image{
    width: 400px;
    position: relative;
    top: 1px;
    animation-name: uprobazar;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes uprobazar {
    from {
      opacity: 1;
      top: 10px;
    }
    to {
      opacity: 0.8;
      top: 20px;
    }
  }
  

.uprobazar-first-container{
    width: 1250px;
    max-width: 1400px;
}

.uprobazar-li1 h1{
    max-width: 400px;
    display: flex;
    
}

.uprobazar-li1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 860px;
}


.uprobazar-li h1{
    font-size: 24px;
    max-width: 400px;
}

.uprobazar-li p{
    margin-bottom: 20px;
    max-width: 400px;
}

.single-uprobazar-ul-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 860px;
    max-width: 860px;
}


.brand-heading {


    font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto Slab;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(94deg, #fff 6.12%, #fcc49d 80.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.brand-text-container-des{
    font-family: 'Archivo';
    color: rgb(211, 208, 208);
    text-align: center;
    margin-top: 40px;
}

.vouchers-container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.voucher{
    width: 300px;
    position: relative;
    bottom: 1px;
    transition-duration: 0.2s;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}

.voucher:hover{

    bottom: 10px;

}


@media screen and (max-width:1400px) {
    .uprobazar-first-container{
        width: 1000px;
    }
}



@media screen and (max-width:1300px) {

    .upro-bazar-model-image{
        width: 400px;
    }

    .uprobazar-first-container{
        width: auto;
    }

    
}

@media screen and (max-width:1130px){

    .upro-bazar-model-image{
        width: 350px;
    }
    .uprobazar-first-container{
        
    }
    .single-uprobazar-ul-item{
        width: 400px;
    }
    .single-uprobazar-ul-item h1{
        font-size: 25px ;
    }

    .brand-heading{
        font-size: 38px;
    }
    .brand-text-container-des{
        font-size: 15px;
    }

    .voucher{
        width: 240px;
    }
}


@media screen and (max-width:950px) {
    .uprobazar-first-container{
        width: auto;
    }


}

@media screen and (max-width:920px) {


    .brand-names{
        width: 400px;
    }
    .uprobazar-first-container{
        flex-direction: column;
        background-image: none;
        align-items: center;
        text-align: center;
        margin-top: 150px;
    }
}

@media screen and (max-width:900px) {

    .uprobazar-first-container{
        margin-top: 150px;
    }


    .brand-heading{
        font-size: 30px;
        text-align: center;
    }
    .brand-text-container-des{
        font-size: 12px;
    }

    .voucher{
        width: 200px;
    }
    
}


@media screen and (max-width:700px) {

    .vouchers-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
}


@media screen and (max-width:500px) {

    .uprobazar-first-container{
        width: 200px;
        text-align: center;
    }
}


@media screen and (max-width:420px){

    .uprobazar-li1{
        width: 200px;
    }
    .uprobazar-li{
        width: 200px;
    }
    .uprobazar-li1 h1{
        font-size: 20px;
    }
    .upro-bazar-model-image{
        width: 280px;
    }
    .uprobazar-li h1{
        font-size: 20px;
    }
    .single-uprobazar-ul-item{
        width: 200px;

    }

    .brand-names{
        width: 200px;
    }
    .uprobazar-first-container{
        width: 200px;
    }
   
}