.main-bloglisting-container{
    background-color: #11111b;
}

.bloglisting-container{
    padding: 40px;
}

.each-button{
    color: white;
    font-family: Archivo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid rgb(189, 185, 185);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.each-button:hover{

    color: #fe4d01 ;
    border: 1px solid #fe4d01;
    opacity: 0.7;

}

.category-heading{
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto Slab;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(94deg, #fff 6.12%, #ffdfc8 80.25%);
    background-clip: text;
    margin-top: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


.category-button-ul{
    display: flex;
    gap: 30px;
    max-width: 1400px;
    margin-top: 40px;
    justify-content: center;
}


.blog-first-image{
    width: 500px;
}


.popular-text{
    font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto Slab;
  font-size: 45px;
  font-style: normal;
  background: linear-gradient(94deg, #fff 6.12%, #ffdfc8 80.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: normal;
}


.blog-second-image{
    width: 400px;
}


/* .bloglisting-items-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    max-width: 1400px;

} */



.post-heading{
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    font-weight:600;
}

.post-des{
    color: white;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
}

.bloglisting-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.user-input-container{
    width: 930px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

.description{
    height: 60px;
}

.blog-form{
    width: 500px;
}


.blog-form input{

    background-color: transparent;
    color: white;
    border-radius: 5px;
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    border: 1px solid white;
}

textarea{
    width: 400px;
    max-width: 400px;
    margin-top: 40px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    border: 1px solid white;
    outline: none;
    max-height: 500px;

}



.post-btn{
    color: white;
    font-size: 20px;
    background-image: url('../Images/ColorVector.svg');
    background-position: center;
    background-size: contain;
    height: 100px;
    cursor: pointer;
    width: 170px;
    font-family: 'Exo', sans-serif;
    background-repeat: no-repeat;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.post-btn:hover{
    opacity: 0.7;
}

.blog-select{
    width: 200px;

    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    margin-top: 30px;
}

.empty-image{
    width: 300px;
}

.blog-each-image{
    width: 400px;
}



.fill-blog-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.no-heading{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-family: 'Jost', sans-serif;
}

.fileInput{
    font-family: 'Jost', sans-serif ;
    font-size: 18px;
    padding: 10px;
}


.each-blog-li{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    max-width: 400px;
}

.each-title{
    color: black;
    font-family:'Jost', sans-serif ;
    font-weight: 600;
    font-size: 22px;
    max-width: 400px;
}


.each-blog-text-container{
    padding: 20px;
}
.date{
    color: gray;
    font-family:'Jost', sans-serif ;
    font-size: 15px;
}

.read-more-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.read-text{
    color: black;
    font-family:'Jost', sans-serif ;
}

@media screen and (max-width:1100px) {
    
    .blog-first-image{
        width: 400px;
    }

    .blog-second-image{
        width: 300px;
    }

    .popular-text{
        font-size: 40px;
    }
}


@media screen and (max-width:950px) {


    .each-button{
        font-size: 12px;
    }

    .blog-first-image{
        width: 320px;
    }

    .blog-second-image{
        width: 280px;
    }

    .popular-text{
        font-size: 35px;
    }
    .user-input-container{
        width: auto;
    }

}


@media screen and (max-width:800px) {


    .category-button-ul{
        max-width: 400px;
        flex-wrap: wrap;
    }

    .blog-first-image{
        width: 300px;
    }

    .blog-second-image{
        width: 250px;
    }

    .bloglisting-items-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    
}

@media screen and (max-width:600px) {

    .blog-form{
        width: auto;
    }

    .each-blog-li{
        width: 300px;
    }
    .blog-each-image{
        width: 100%;
    }

    textarea{
        width: 100%;
    }
    
}


@media screen and (max-width:400px) {

    .blog-first-image{
        width: 100%;
    }

    .blog-second-image{
        width: 100%;
    }


    .popular-text{
        font-size: 22px;
    }

    .category-heading{
        font-size: 22px;
    }


    .each-blog-li{
        width: 100%;
    }


    .each-title{
        font-size: 15px;
    }


    
    
}